<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>devslopeslecturesapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1850705D1C4377C2000AB54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185070741C4377C2000AB54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1850707F1C4377C2000AB54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
